.header{
    background-color: #FF92AD;
    display: flex;
    width: 40vw;
    height: 180px;
    margin: 0;
}
.headerImage {
    width: 100%;
    height: 180px;
    object-fit: cover;
    /*z-index: 1;*/
}

.edit {
    outline: none;
    width: 120px;
    height: 30px;
    background-color: #FFF;
    color: #FF92AD;
    border:2px solid #FF92AD;
    border-radius: 50px;
    margin-top: 10px;
    margin-left: 530px;
}

.edit:hover {
    transform: scale(1.05);
}

.container {
    /*border: 1px solid red;*/
    padding: 20px 20px 0 20px;
    height: 300px;
    width: 99%;
}

.banner {
    position: relative;
}

.bannerImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.infoContainer{
    /*border: 1px solid springgreen;*/
    margin-top: 50px;
    margin-bottom: 10px;
}

.userName {
    /*border: 1px solid blue;*/
    margin: 10px 10px 0 30px;
    padding: 0 5px 0 5px;
    color: #423a3a;
    font-size: 1.3rem;
    width: 400px;
    height: 30px;
}

.idAndFollow{
    display: flex;
}

.userId {
    width: 400px;
    color: #5d5252;
    font-size: 0.8rem;
    margin:0 10px 10px 30px;
    padding: 3px 5px 0 7px;
}

.followContainer{
    font-size: 1rem;
    color: #423a3a;
    width: 250px;
    height: 1.7rem;
    margin-left: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 0 5px 0 5px;
}

.follow{
    margin-right: 10px;
}

.follower{
    margin-left: 10px;
}

.bio {
    /*border: 1px solid violet;*/
    margin-left: 22px;
    padding: 0 10px 0 10px;
    width: 660px;
    height: 100px;
    color: #423a3a;
}

.profileImage {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 12vh;
    left: 33vw;
    line-height: 94px;
    background-color: #d0c0c0;
    border: 3px solid #F8F0F0;
    border-radius: 150%;
    color: #fff;
    text-align: center;
}

.profileImage img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid white;
}



/*　タブ群　*/
.tabsContainer{
    margin-top: 5px;
    display: flex;
}

.tabs{
    list-style: none;
    padding: 0;
    margin-right: -74px; /* 前のliと重なる量 */
    cursor: pointer;
}

.tabFirst{
    outline: none;
    background: #fff;
    margin-top: 25px;
    width: 16vw;
    height: 70%;
    border: 1px solid #ff95af;
    border-bottom: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

    /*順番*/
    z-index: 3;

    /*font*/
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 1.2rem;
    text-align: center;
    color: #FF92AD;

}

.tabSecond{
    outline: none;
    background: #FFDCDD;
    margin-top: 25px;
    width: 16vw;
    height: 65%;
    border: #fff 1px solid;
    border-bottom: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

    /*順番*/
    z-index: 2;

    /*font*/
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 1.2rem;
    text-align: center;
    color: #FF989A;

}

.tabThird{
    outline: none;
    background: #FFBFC0;
    margin-top: 25px;
    width: 16vw;
    height: 65%;
    border: #fff 1px solid;
    border-bottom: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

    /*順番*/
    z-index: 1;

    /*font*/
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 1.2rem;
    text-align: center;
    color: #fff;
}

.tabFirst, .tabSecond, .tabThird {
    position: relative;
}

.zIndex1 {
    z-index: 1;
    border-bottom: #F8F0F0 1px solid;
}

.zIndex2 {
    z-index: 2;
}

.zIndex3 {
    z-index: 3;
}


/*responsive*/
@media (max-width: 1200px) {
    .all{
        width: 70vw;
    }

    .tabFirst{
        width: 240px;
    }

    .tabSecond{
        width: 240px;
    }

    .tabThird{
        width: 240px;
    }

    .add{
        right: 0;
    }
}


.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* Ensure modal is on top */
}

.modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px; /* Set the width of the modal */
    position: relative;
}

.closeButton{
    border:2px solid #FF92AD;
    color: #ff839f;
    background-color: #fff;
    padding: 5px 15px 5px 15px;
    border-radius: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.closeButton:hover {
    color: #FF989A;
}

.content {
    position: absolute;
    top: -115vh;
    right: 20vw;

}