.allContainer {
    justify-content: center;
    align-items: center;

    width: 450px;
    height: 80vh;

    border: 1px solid springgreen;
}

.title {
    color: #FF92AD;
    width: 100%;
    max-width: 200px;
    margin-left: 130px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.formContainer{
    display: grid;
}