.all {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.column {
    background-color: #FF92AD;
    flex-grow: 1;
    left: 30%;
}
.backUi {
    position: absolute;
    top: 10vh;
    left: 13vw;
    margin: auto 0;
    text-align: left;
}