.allContainer {
    position: absolute;
    left: 30vw;
    /* フレックスボックスを使って縦方向に配置 */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* コンテンツが重ならないようにスクロールを許可 */
    overflow-y: auto;
    height: 100vh;
}

/*Addタブ*/
.addButton{
    position: fixed;
    left: 66.8vw;
    background: #FF989A;
    margin-top: 25px;
    margin-right: 1px;
    height: 46px;
    width: 60px;
    border: 1px solid #fff;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    /*font*/
    padding-top: 3px;
    color: #fff;
    font-size: 20px;

    z-index: 10;
}
.addTabOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* 背景を半透明に */
    z-index: 1000; /* 上に表示するための z-index */
}

.addTabContent {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.buttonCancel{
    position: relative;
    bottom: 10px;
    left: 150px;

    width: 100px;
    height: 40px;

    z-index: 100;

    background-color: #FFF;
    border: 2px solid #FF92AD;
    border-radius: 50px;

    font-size: 1.2rem;
    color: #FF92AD;
    font-weight: bold;
}


/*home用*/
.addTabHome{
    top:0;
}
.addTabMC{
    top: 10vh;
    border: 2px solid springgreen;
}