@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');

.title {
    position: absolute;
    left: 30vw;
    width: 40vw;
    background-color: #FF92AD;
    color: white;
    padding-top: 30px;
    padding-left: 80px;
}

.box {
    position: absolute;
    top: 20vh;
    right: 32vw;
    margin: 10px auto;
    padding: 18px 20px;
    background-color: #fff;
    width: 36vw;
    height: auto;
    border: 1px solid #FF92AD;
    border-radius: 30px;
    max-height: 1000px;
}

.flex {
    display: flex;
    align-items: flex-start;
}

.iconContainer {
    margin-right: 10px;
    object-fit: cover;
}

.icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #F8F4F0;
}

.name {
    font-size: 20px;
    margin-top: -10px;
    margin-left: -95px;
    padding: 10px;
    left: 100px;
    position: relative;
    color: #423a3a;
}

.userId{
    font-size: 0.9rem;
    margin-top: 7px;
    margin-left: 100px;
    color: #6E665C;
}

.textarea {
    border: none;
    width: 80%;
    margin-left: 10px;
    padding: 10px;
    resize: none;
    box-sizing: border-box;
    outline: none;
    height: 60px;
    line-height: 1.5;
    display: inline-block;
    visibility: visible;
    color: #423a3a;
    font-size: 1rem;

    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;
}

.textarea::placeholder{
    color: #a49889;

}

.iconWrapper {
    display: flex;
    justify-content: flex-start;
    gap: 60px;
    margin-top: 45px;
    margin-left: 80px;
    flex-wrap: wrap;
    object-fit: cover;
}

.iconLabel {
    cursor: pointer;
}

.iconImg {
    width: 35px;
    height: 35px;
}

.post {
    display: flex;
    background-color: #FF92AD;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 7px 20px 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 160px;

    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;
}

.selectedImage {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-left: 60px;
}

.optionBox{
    border: 1px solid #FF92AD;
    border-radius: 20px;
    padding: 20px;
    margin-right: 60px;
    position: relative;

}

.survey {
    margin-top: 20px;
    margin-left: 65px;
}

.inputField{
    padding-bottom: 15px;
    padding-top: 10px;
    padding-right: 150px;
    padding-left: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    border: 1px solid #FF92AD;
    border-radius: 6px;
}

.addbutton {
    padding: 5px;
    margin-left: 220px;
    background-color: #FFFFFF;
    border: 1px solid #FF92AD ;
    border-radius: 6px;
    color: #FF92AD;
}

.crossbutton {
    padding: 2px;
    margin-left: 20px;
    background-color: #FFFFFF;
    border: 1px solid #FF92AD ;
    border-radius: 6px;
    color: #FF92AD;
}

.removeButton {
    padding: 13px 130px;
    margin-left: 50px;
    border: 1px solid #FF92AD ;
    border-radius: 6px;
    background-color: #FFFFFF;
    color: #FF92AD;
}

.pollLabel {
    padding: 4px;
    font-weight: bold;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 0px;
    border: 1px solid #FF92AD ;
    border-radius: 6px;
    background-color: #FF92AD;
    color: #FFFFFF;
    display: inline-block;
}

.pollContainer {
    display: flex;
    align-items: center;
    margin-top: 20px;
    flex-direction: row;
    border: none;
}

.touhyou{
    color: #FF92AD;
    font-size: 15px;
    padding: 20px 0;
    margin-left: 52px;
}

.smallboxContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-right: 85px;
    gap: 10px;
}

.smallbox{
    border: 1px solid #FF92AD ;
    align-items: center;
    border-radius: 6px;
    padding: 4px 22px 20px 6px;
    font-size: 12px;
    color: #999999;
    background-color: #FFFFFF;
    margin-bottom: 10px;
    margin-left: 52px;
}

.date {
    margin-left: 40px;
    font-size: 12px;
}


.popup {
    position: fixed;
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFCFD2;
    padding: 20px;
    border: 1px solid #FFCFD2;
    border-radius: 30px;
    width: 450px;
    text-align: center;
}

.popup .textareaContainer {
    display: flex; /* 横並び */
    align-items: center; /* 縦方向の位置を揃える */
    justify-content: space-between; /* スペースを適切に分ける */
    margin-bottom: 10px;
}

.popup .textarea {
    width: 300px;
    height: 50px;
    padding: 10px;
    background-color: #FFCFD2;
    border: 1px solid #FFFFff;
    border-radius: 10px;
    color: #FFFFFF;
    resize: none;
}

.popup .cancelButton {
    background-color: #FFFFFF;
    color: #FFCFD2;
    border: 1px solid #FFCFD2;
    border-radius: 30px;
    padding: 10px 15px;
    cursor: pointer;
    margin-left: 10px;
}




