.all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.image {
    top: 24vh;
    left: 37vw;
    margin:auto 0;
    position: absolute;
}

.logo {
    position: absolute;
    top: 21vh;
    left: 44vw;
    font-size: 100px;
    text-align: center;
    color: #FF92AD;
}

.container {
    position: relative;
    text-align: center;
    padding: 30px;
    margin: 20px;
}

.box1 {
    background: #FF92AD;
    color: white;
    padding: 1.5rem;
    border-radius: 10px;
    border: 1px solid #ff839f;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
    width: 400px;
    height: 80px;
    flex-direction: column;
    align-items: stretch;

    margin-bottom: 20px;
}

.box1:hover {
    background-color: #ff839f;
}

.box2 {
    background: white;
    color: #FF92AD;
    padding: 1.5rem;
    border: 2px solid #FF92AD;
    border-radius: 10px;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
    width: 100%;
    height: 80px;
    flex-direction: column;
    align-items: stretch;
}

.box2:hover{
    border: 4px solid #ff839f;
    padding: 1.4rem;
    color: #ff839f;
}

.box2:active{
    background-color: #FF92AD;
    color: #fff;
}