.box {
    position: absolute;
    top: 20vh;
    right: 32vw;
    margin: 0 auto;
    padding: 8px 10px;
    background-color: #fff;
    width: 36vw;
    height: auto;
    border: 1px solid #FF92AD;
    border-radius: 30px;
    max-height: 1000px;
}

.image {
    height: 30px;
    width: 30px;
    margin-left: 7px;
    margin-top: 5px;
}

.message{
    margin-left: 50px;
}