.bg {
    background-color: #FF92AD;
    padding: 0px;
    margin: 0px;
    /*background-color: #fff;*/
    width: 45vw;
    height: 70px;
    position: fixed;
    top: 0;
    left: 30vw;
    display: flex;
}

.text {
    position: absolute;
    top: 0;
    left: 10%;
    font-weight: 700;
    height: 70px;
    width: 90%;
    padding-top: 12px;
    color: #FFFFFF;
    background-color: #FF92AD;
    font-size: 28px;

}
.yajirushi {
    position: absolute;
    top: 0;
    padding-top: 13px;
    padding-left: 2.5vw;
    width: 10%;
    height: 70px;
    font-weight: 800;
    background-color: #FF92AD;
    color: #fff;
    font-size: 25px;
}