.all{
    position: fixed;
    left: 30vw;
    background-color: #FF92AD;
    display: flex;
    width: 40vw;
    height: 71px;
    margin: 0;
}

.ul{
    display: flex;
    width: 100%;
    /*border: 1px solid springgreen;*/
}

.tabs{
    list-style: none;
    padding: 0;

    margin-right: -80px; /* 前のliと重なる量 */
}

.tabFirst{
    outline: none;
    background: #fff;
    margin-top: 25px;
    width: 15vw;
    height: 65%;
    border: 1px solid #fff;
    border-bottom: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

    /*順番*/
    z-index: 3;

    /*font*/
    padding-top: 12px;
    text-align: center;
    color: #FF92AD;

}

.tabSecond{
    outline: none;
    background: #FFDCDD;
    margin-top: 25px;
    width: 15vw;
    height: 65%;
    border: #fff 1px solid;
    border-bottom: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

    /*順番*/
    z-index: 2;

    /*font*/
    padding-top: 12px;
    text-align: center;
    color: #FF989A;

}

.tabThird{
    outline: none;
    background: #FFBFC0;
    margin-top: 25px;
    width: 14vw;
    height: 65%;
    border: #fff 1px solid;
    border-bottom: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

    /*順番*/
    z-index: 1;

    /*font*/
    padding-top: 12px;
    text-align: center;
    color: #fff;
}

.tabFirst, .tabSecond, .tabThird {
  position: relative;
}

.zIndex1 {
    z-index: 1;
    border-bottom: #F8F0F0 2px solid;
}

.zIndex2 {
    z-index: 2;
}

.zIndex3 {
    z-index: 3;
}



/* /Home 用のスタイル */
.headerHome{
    position: fixed;
    z-index: 1;
}

/* /MyCosmetics 用のスタイル */
.headerMyCosmetics {
    margin-top: 0;
    height: 50px;
}

.tabMyCosmetics{
    /*border: 1px solid red;*/
}

.tab1MC{
    /*border: 1px solid red;*/
    margin-top: 5px;
    height: 90%;
}

.tab2MC{
    /*border: 1px solid blue;*/
    margin-top: 5px;
    height: 90%;
}

.tab3MC{
    /*border: 1px solid deeppink;*/
    margin-top: 5px;
    height: 90%;
}

.addTabMC{
    /*border: 1px solid yellow;*/
    margin-top: 4px;
}

.article{
    position: relative;
    top: 100px;
    /*border: 1px solid orange;*/
}

/*responsive*/
@media (max-width: 1200px) {
    .all{
        width: 70vw;
    }

    .tabFirst{
        width: 240px;
    }

    .tabSecond{
        width: 240px;
    }

    .tabThird{
        width: 240px;
    }

    .add{
        right: 0;
    }
}