.all{
    position: fixed;
    left: 30vw;
    background-color: #FF92AD;
    display: flex;
    width: 40vw;
    height: 71px;
    margin: 0;
}

.ul{
    display: flex;
    width: 80%;
    height: 46px;
    margin-top: 25px;
    /*border: 1px solid springgreen;*/
}

.tabs{
    list-style: none;
    outline: none;
    padding: 0;
    background-color: #fff;

    border: 1px solid #fff;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom: 2px solid #F8F0F0;
    width: 80%;
    margin-right: -80px; /* 前のliと重なる量 */

    text-align: center;
    line-height: 46px;
    color: #ff839f;

    z-index: 1;
}


/*Addタブ*/
.addButton{
    position: fixed;
    left: 66.8vw;
    background: #FF989A;
    height: 46px;
    width: 60px;
    border: 1px solid #fff;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    /*font*/
    padding-top: 3px;
    color: #fff;
    font-size: 20px;

    z-index: 2;
}

.zIndex4 {
    z-index: 4;
    border-bottom: none;
}


.article{
    position: fixed;
    left: 30vw;
    overflow-x: hidden;
    top: 100px;
    height: 88vh;
    padding-bottom: 100px;
    /*border: 1px solid orange;*/
}

/*responsive*/
@media (max-width: 1200px) {
    .all{
        width: 70vw;
    }

    .tabFirst{
        width: 240px;
    }

    .tabSecond{
        width: 240px;
    }

    .tabThird{
        width: 240px;
    }

    .add{
        right: 0;
    }
}