@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');

.all {
    background-color: #F8F0F0;
    width: 30vw;
    height: 100vh;
    border-right: 1px solid #D2CCCC;
    position: fixed;
}

.logo{
    position: relative;
    top: 15px;
    left: 1.3vw;
    width: 50%;
    height: 80px;
    margin: 30px auto 20px;
    font-size: 50px;

    font-weight: 400;
    /*border: 1px solid red;*/
}

.button_container{
    display: grid;
    width: 70%;
    height: 65%;
    margin: 20px auto 20px;

    /*border: 1px solid red;*/
}

.button{
    background: white;
    font-size: 32px;
    color: #6E665C;
    margin: 10px;

    border: 1px solid #6E665C;
    border-radius: 100px;

    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;
}

.button:hover{
    border: 2px solid #6E665C;
    margin: 9px;

}

.active {
    font-weight: bold;
}
.logout{
    background: #ff92AD;
    font-size: 32px;
    color: white;
    margin: 10px;

    border: 1px solid #6E665C;
    border-radius: 100px;

    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;
}

.logout:hover{
    border: 2px solid #6E665C;
    margin: 9px;

}

/*.eachButtonContainer{*/
/*    display: flex;*/
/*    border: 1px solid #6E665C;*/
/*    border-radius: 100px;*/
/*    margin-left: 10px;*/
/*    padding: 10px 10px 20px 10px;*/
/*    height: 60px;*/
/*    width: 20vw;*/
/*    background-color: #fff;*/

/*    font-size: 2rem;*/
/*    color: #6E665C;*/
/*}*/

/*.homeIcon{*/
/*    border: 1px solid blue;*/
/*    margin-top: 2px;*/
/*    margin-left: 10px;*/
/*    width: 35px;*/
/*    height: 35px;*/
/*}*/

/*.buttonText{*/
/*    border: 1px solid red;*/
/*    height: 40px;*/
/*}*/
