.all {
    background-color: #F8F0F0;
    width: 30vw;
    height: 100vh;
}

.logo{
    width: 50%;
    height: 80px;
    margin: 20px auto 20px;
    font-size: 50px;
    /*border: 1px solid red;*/
}

.button_container{
    display: grid;
    width: 70%;
    height: 70%;
    margin: 20px auto 20px;

    /*border: 1px solid red;*/
}

.button{
    background: white;
    font-size: 32px;
    color: #6E665C;
    margin: 16px;

    border: 1px solid #6E665C;
    border-radius: 100px;
}