@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');

.allContainer{
    position: absolute;
    left: 30vw;
    /*border:1px solid red;*/
    width: 70vw;
    height: 100vh;
    padding: 10px 40px;
}

.titleContainer{
    /*border: 1px solid blue;*/
    margin: 40px 10px 30px;

}

.titleText{
    /*border: 1px solid yellowgreen;*/
    width: 280px;
    margin: 10px 20px 0;
}

.mainContainer{
    /*border: 1px solid peru;*/
    margin: 10px;
    padding: 10px;
    color: #423a3a;
}

.explainText{
    /*border: 1px solid #FFCC92;*/
    text-align: center;
    margin-bottom: 30px;
}

.pointContainer{
    /*border: 1px solid red;*/
    text-align: left;
    padding-left: 20px;
}


.colors{
    display: flex;
    margin: 10px auto;
    /*border: 1px solid red;*/
    flex-wrap: wrap; /* 色の要素が折り返して表示されるようにする */
    justify-content: center; /* 色を中央に配置 */
}

/*ボタングループ*/
.bottomContainer{
    position: absolute;
    bottom: 80px;
    left: 12vw;
    /*border: 1px solid springgreen;*/
    margin: 10px auto;
    padding: 10px;
    width: 870px;
}

.whatIsPcButton, .goBackToTopButton, .toSignUpButton, .loggedInWhatIsPcButton{
    border: 2px solid #ff92AD;
    margin: 10px;
    background-color: #fff;
    border-radius: 50px;
    height: 40px;

    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;
}

.whatIsPcButton{
    width: 500px;
    color: #423a3a;
}

.goBackToTopButton{
    width: 300px;
    background-color: #ff92AD;
    color: #fff;
}

.toSignUpButton{
    width: 820px;
    color: #423a3a;
}


/*ログイン済みのとき用*/
.loggedInAllContainer{
    /*border: 1px solid red;*/
    width: 40vw;
    position: absolute;
    left: 30vw;
    height: 100vh;
    padding: 10px 40px;
}

.loggedInWhatIsPcButton{
    width: 600px;
    color: #423a3a;
    margin-left: 30px;
    margin-bottom: 100px;
}

/*autumn*/
.auTitle{
    border-bottom: 2px solid #fab186;
    width: 600px;
    padding: 0 130px;
    color: #3a3d42;
    margin: 0 auto 10px;
    font-size: 2.5rem;
}

.auColor1, .auColor2, .auColor3, .auColor4, .auColor5, .auColor6, .auColor7, .auColor8, .auColor9, .auColor10, .auColor11{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin: 5px;
    line-height: 60px;
    text-align: center;
    color: #fff;
}

.auColor1{ background-color: #d0a544; }
.auColor2{ background-color: #e8ca2d; }
.auColor3{ background-color: #e2983e; }
.auColor4{ background-color: #d37020; }
.auColor5{ background-color: #abb138; }
.auColor6{ background-color: #498d37; }
.auColor7{ background-color: #43a6a0; }
.auColor8{ background-color: #176972; }
.auColor9{ background-color: #8f1e22; }
.auColor10{ background-color: #61451f; }
.auColor11{ background-color: #452d5f; }

.colorsContainer, .auCharacterContainer, .auArtistContainer{
    /*border: 1px solid deeppink;*/
    margin: 10px 10px 20px;
    padding: 10px;
}