.buttonContainer {
  position: fixed;
  z-index: 1000;
}

.buttonA {
  position: absolute;
  top: 85vh;
  left: 63vw;

  background-color: #FF92AD;
  width: 100px;
  height: 100px;
  border: #fff 2px solid;
  border-radius: 50%;

  /*font*/
  color: #fff;
  font-size: 2.5rem;

  /*z-index: 1000; !* z-index を高めに設定 *!*/
  cursor: pointer; /* クリック可能であることを示す */
  opacity: 1;
  transition: all 0.3s ease;
}

/* フォーカス時 */
.buttonAFocus {
  top: 86.5vh;
  left: 63.7vw;
  width: 70px;
  height: 70px;
  background-color: #fff;
  border: #FF92AD 3px solid;

  /*font*/
  color: #FF92AD;
  font-size: 32px;

  transition: opacity 0.3s;
}

.buttonB, .buttonC {
  opacity: 0; /*透明度*/
  position: absolute;
  left: 60vw;
  background-color: #FF92AD;
  width: 90px;
  height: 90px;
  border: #fff 2px solid;
  border-radius: 50%;

  /*font*/
  color: #fff;

  cursor: pointer;
  transition: opacity 0.2s; /* スムーズな表示切替 */
}

.buttonB {
  top: 82.5vh;
  left: 58vw;
}

.buttonC {
  top: 76vh;
  left: 62vw;
}

.buttonAFocus ~ .buttonB,
.buttonAFocus ~ .buttonC {
  opacity: 1;
  transition: opacity 0.3s;
}


@media screen and (max-width: 1024px) {
  .buttonA{
    left: 85vw;
  }

  .buttonAFocus{
    left: 87vw;
  }

  .buttonB {
    left: 75vw;
  }

  .buttonC{
    left: 83vw;
  }
}