@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');

.allContainer{
    position: relative;
    top: 100px;
    /*border: 1px solid red;*/
    padding: 0 37px;
}

.all{
    margin: 40px auto 10px;
    padding: 0px 10px 8px;
    background-color: #fff;
    width: 36vw;
    height: auto;
    /*min-height: 200px;*/
    border: #FF92AD 1px solid;
    border-radius: 30px;
}

.topContainer{
    display: flex;
    margin-top: 2px;
}

.infoContainer{
    display: flex;
    margin-top: 8px;
    height: 50px;
}

.flex{
    display: flex;
}

.icon{
    background-color: #D2CCCC;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    margin: 20px 10px 10px 20px;
}

.name{
    color: #4A4444;
    font-size: 1.3rem;

    margin-top: 6px;
    margin-left: 10px;
}

.userID{
    color: #6E665C;

    margin-top: 10px;
    margin-left: 10px;
}

.time{
    color: #4A4444;

    margin-top: 10px;
    margin-left: 10px;
}

.pc{
    color: #6E665C;
    font-size: 0.7rem;
    border: #ff92AD 1px solid;
    border-radius: 10px;

    height: 21px;
    width: 70px;

    margin: 12px 10px 10px 20px;
    padding: 2px 15px;
}

.editButton{
    border: none;
    outline: none;
    background-color: #fff;
    margin-top: 10px;
    margin-left: 14vw;
    height: 30px;
    width: 30px;
    padding-bottom: 10px;

    font-size: 1.3rem;
    color: #6E665C;
    font-family: serif;
    font-weight: 400;
}
.editButton:hover{
    color: #ff92AD;
}

.content{
    margin-left: 10px;
    margin-bottom: 10px;

    width: 30vw;
    height: auto;
    min-height: 10vh;
}

/*reaction*/
.reactionContainer{
    display: flex;
    padding-top: 10px;
    margin-bottom: 10px;
}

.reply{
    width: 25px;
    height: 25px;

    margin:0 2px 0 10px;
}

/*repost*/
.repost{
    background-image: url('/repost_before.png');
    width: 23px;
    height: 23px;
    margin: 2px 2px 0 5vw;
    background-size: cover;
}
.repost:hover, .repost:focus {
    background-image: url('/repost_after.png');
}

/*like*/
.like{
    background-image: url("/cutie_heart_before.png");
    width: 20px;
    height: 20px;
    margin: 4px 2px 0 5vw;
    background-size: cover;
}
.like:hover, .like:focus{
    background-image: url("/cutie_heart_after.png");
}

/*keep*/
.keep{
    background-image: url("/keep_before.png");
    width: 20px;
    height: 20px;
    margin: 4px 2px 10px 11vw;
    background-size: cover;
}
.keep:hover{
    background-image: url("/keep_after.png");
}

.reactionText{
    color: #5d5757;
    margin-left: 2px;
}


/*eachPost*/
.eachPostContainer{
    position: fixed;
    top: 0;
    left: 30vw;
    /*border: 1px solid  blue;*/
    height: 100vh;
    z-index: 3;
}

.headerContainer{
    position: fixed;
    top: 0;
    left: 30vw;
    display: flex;
    width: calc(100vw - 60vw);
    height: 80px;
    background-color: #FF92AD;
    z-index: 10;
}

.backButton{
    border: none;
    outline: none;
    background-color: #FF92AD;
    height: 50px;
    padding: 0 10px;
    margin: 15px 0 15px 20px;

    color: #fff;
    font-size: 1.8rem;
    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;

    cursor: pointer;
}

.headerTitle{
    width: 400px;
    margin: 18px 20px 0 20px;

    color: #fff;
    font-size: 1.8rem;
}

/*☓ボタン*/
.closeEachPost{
    cursor: pointer;
    display: block;
    position: relative;
    border: 1px solid #ff839f;
    border-radius: 3px;
    width: 26px;
    height: 25px;
    margin: 30px 20px 0 160px;
    background-color: #fff;
}

.closeEachPost::before, .closeEachPost::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px; /* 棒の幅（太さ） */
  height: 20px; /* 棒の高さ */
  background: #ff839f; /* バツ印の色 */
}

.closeEachPost::before {
  transform: translate(-50%,-50%) rotate(45deg);
}
.closeEachPost::after {
  transform: translate(-50%,-50%) rotate(-45deg);
}

/*報告*/
.reportAllContainer{
    position: relative;
    top: -222px;
    left: 27.1vw;
    height: 0;
}

.reportContainer{
    display: grid;
    position: relative;
    top: -10px;
    /*left: 28.5vw;*/
    background-color: #fff;
    border: 1px solid #ff92AD;
    border-radius: 10px;
    padding: 10px;
    width: 120px;
}

.closeReportButton{
    cursor: pointer;
    display: block;
    position: relative;
    left: 5.3vw;
    border: 1px solid #ff839f;
    border-radius: 3px;
    width: 24px;
    height: 23px;
    background-color: #fff;
    z-index: 10;
}
.closeReportButton::before, .closeReportButton::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px; /* 棒の幅（太さ） */
    height: 20px; /* 棒の高さ */
    background: #ff839f; /* バツ印の色 */
}
.closeReportButton::before {
    transform: translate(-50%,-50%) rotate(45deg);
}
.closeReportButton::after {
    transform: translate(-50%,-50%) rotate(-45deg);
}

.reportPostButton{
    border: none;
    border-bottom: 1px solid #ff92AD;
    background-color: #fff;
    height: 30px;
    font-size: 0.8rem;
    padding-bottom: 5px;

    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;
    color: #5d5757;
}

.reportUserButton{
    border: none;
    background-color: #fff;
    height: 30px;
    font-size: 0.8rem;

    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;
    color: #5d5757;
}

@media screen and (max-width: 1024px){
    .all{
        width: 60vw;
    }

    .headerContainer{
        width: 70vw;
    }
}