.buttonContainer {
  position: relative;
  z-index: 100;
}

.buttonA {
  position: absolute;
  bottom: -850px;
  right: 30px;

  background-color: #FF92AD;
  width: 100px;
  height: 100px;
  border: #fff 2px solid;
  border-radius: 50%;

  /*font*/
  color: #fff;
  font-size: 2.5rem;

  /*z-index: 1000; !* z-index を高めに設定 *!*/
  cursor: pointer; /* クリック可能であることを示す */
  opacity: 1;
  transition: all 0.3s ease;
}

/* フォーカス時 */
.buttonAFocus {
  right: 45px;
  bottom: -835px;
  width: 70px;
  height: 70px;
  background-color: #fff;
  border: #FF92AD 3px solid;

  /*font*/
  color: #FF92AD;
  font-size: 32px;

  transition: opacity 0.3s;
}

.buttonB, .buttonC {
  opacity: 0; /*透明度*/
  position: absolute;
  background-color: #FF92AD;
  width: 90px;
  height: 90px;
  border: #fff 2px solid;
  border-radius: 50%;

  /*font*/
  color: #fff;

  cursor: pointer;
  transition: opacity 0.2s; /* スムーズな表示切替 */
}

.buttonB {
  bottom: -828px;
  right: 128px;
}

.buttonC {
  bottom: -753px;
  right: 55px;
}

.buttonAFocus ~ .buttonB,
.buttonAFocus ~ .buttonC {
  opacity: 1;
  transition: opacity 0.3s;
}
