@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');

.questionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    margin-left: 100px;
    padding: 0;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}

.optionAnswer {
    border: 0.7mm solid silver;
    font-size: 25px;
    background-color: white;
    width: 980px;
    /*max-width: 600px;*/
    padding: 10px 20px;

    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;
}

.selected {
    border: 2px solid #ff92AD;
}

@media screen and (max-width: 390px) {
    .questionContainer{
        border: 1px solid blue;
        width: 100vw;
        margin-left: -20px;
        height: 75vh;
    }

    .optionAnswer{
        width: 300px;
        font-size: 20px;
    }
}