.all {
    position: fixed;
    right: 0;
    background-color: #F8F0F0;
    width: 30vw;
    height: 100vh;
    border-left: 1px solid #D2CCCC;
}

@media (max-width: 1200px) {
    .all {
        width: 20vw; /* 狭い画面では幅を狭める */
    }
}

@media (max-width: 800px) {
    .all {
        display: none; /* さらに狭い画面では非表示 */
    }
}
