.all {
    position: fixed;
    right: 0;
    background-color: #F8F0F0;
    width: 30vw;
    height: 100vh;
    border-left: 1px solid #D2CCCC;
}

@media screen and (max-width: 1500px){
    .all{
        width: 20vw;
    }
}

@media screen and (max-width: 1024px) {
    .all {
        display: none;
    }
}


