/* components/UnfollowModal.module.css */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.unfollowButton {
    background-color: #ff93AD;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
}

.cancelButton {
    background-color: grey;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
}