.allContainer {
    position: absolute;
    left: 30vw;
}

.all {
    display: flex;
    position: relative;
    top: 11vh;
    left: 3vw;
    margin: 25px;
    width: 575px;
    height: 300px;
    border: 2px solid #D2CCCC;
}

.font1 {
    position: relative;
    top: 4vh;
    left: 3.5vw;
}


.box {
    position: absolute;
    top: 4.5vh;
    left: 14.5vw;
}

.font2 {
    position: absolute;
    top: 9.5vh;
    left: 3.5vw;
}

.box2 {
    position: absolute;
    top: 10.5vh;
    left: 14.5vw;

}
.font3 {
    position: absolute;
    top: 15vh;
    left: 3.5vw;
}
.box3 {
    position: absolute;
    top: 15.5vh;
    left: 14.5vw;
}
.edit {
    position: absolute;
    top: 21vh;
    left: 16.7vw;
    background-color: #FF989A;
    height: 50px;
    width: 200px;
    font-weight: bold;
    font-size: 1.3rem;
    color: white;
    border: 1px solid #ff839f;
}
.edit:hover {
    color: black;
    transform: scale(1.1,1.1);
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* Ensure modal is on top */
}

.modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px; /* Set the width of the modal */
    position: relative;
}

.closeButton{
    border:2px solid #FF92AD;
    color: #ff839f;
    background-color: #fff;
    padding: 5px 15px 5px 15px;
    border-radius: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.closeButton:hover {
    color: #FF989A;
}