.container {
    position: absolute;
    display: flex;
    top: 0vh;
    left: 30vw;
    color: #FF92AD;
}
.content {
    position: absolute;
    top: 18vh;
    left: 38vw;
    margin: 0 auto;
    border-radius: 4px;
    border: 1px solid #FF69A3;
    background-color: #FFF;

    height: 500px;
    width: 450px;
}
.font {
    position: absolute;
    top: 3.5vh;
    left: 1vw;
    color: #FF69A3;
}
.input {
    position: absolute;
    top: 15vh;
    left: 2vw;
    width: 85%;
    height: 60px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    outline: none;
}
.img {
    position: absolute;
    top: 16.8vh;
    right: 3vw;
    height: 20px;
    width: 20px;
}
.next {
    position: absolute;
    top: 36vh;
    left: 7vw;
    display: block;
    height: 50px;
    width: 200px;
    border-radius: 8px;
    border: 1px solid #ff839f;
    background-color: #ff92AD;
    font-size: 1.3rem;
    color: white;
}
.next:hover {
    transform: scale(1.1,1.1);

}