@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');

.allContainer {
    /*border: 1px solid black;*/
    position: relative;
    margin-left: 30vw; /* LeftBarの幅に合わせる */
    margin-right: 30vw; /* RightBarの幅に合わせる */
    width: calc(100% - 60vw); /* 両サイドのバーを考慮した幅 */
    min-height: 100vh;
    overflow-y: auto;
}

/*tabs*/
.headerContainer {
    position: fixed;
    background-color: #FF92AD;
    width: 40vw;
    height: 100px;
    z-index: 1;
}

.headerText{
    /*border: 1px solid #007bff;*/
    padding: 30px 10px 0 40px;
    font-size: 2.3rem;
    color: #fff;
}

/*items*/
.itemsContainer {
    width: 40vw;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow-y: auto; /* スクロールを有効化 */
    max-height: 68vh; /* 必要に応じて設定 */
    scrollbar-width: none; /* Firefox */
}

.itemsContainer::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.noFavs{
    margin: 5px auto;: #FFBFC0;
    color: #807070;
    font-size: 0.9rem;
    /*border: 1px solid #ccc;*/
}

/*AddTab*/
.addTabContainer{
    width: 450px;
}

.addTabContent {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.addTabTitle{
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #FF92AD;
    color: #fff;
}

.addTabInputContainer{
    margin: 20px 10px;
    padding: 10px;
}

.inputTabLabel{
    border-left: 2px solid #FF92AD;
    margin: 5px;
    padding: 0 10px;
    color: #423a3a;
    font-size: 0.9rem;
}

.inputTabBox {
    border: none;
    outline: none;
    border-bottom: 1px solid #FF92AD;
    width: 250px;
    padding: 0 10px;

    color: #423a3a;
    font-size: 0.9rem;
    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;
}

.tabButtonContainer{
    width: 265px;
    margin: 10px auto;
    padding: 10px 10px 5px;
}

.addTabCancel{
    border: 2px solid #FF92AD;
    border-radius: 50px;
    background-color: #fff;
    width: 110px;
    margin: 0 5px;
    padding: 3px 10px;

    color: #ff839f;
    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;
}

.addTabAdd{
    width: 110px;
    background-color: #FF92AD;
    border: 1px solid #ff839f;
    border-radius: 50px;
    margin: 0 5px;
    padding:3px 10px;

    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
}
/*hover*/
.addTabCancel:hover{
    border: 2px solid #ff839f;
    scale: calc(1.03);
    font-weight: 500;
}

.addTabAdd:hover{
    background-color: #ff839f;
    scale: calc(1.03);
    font-weight: 500;
}


/*responsive*/
@media (max-width: 1200px) {
    .headerContainer {
        width: 70vw;
    }
}