
.headerContainer {
    background-color: #FF92AD;
    width: 40vw;
    height: 100px;
}

.headerText{
    /*border: 1px solid #007bff;*/
    padding: 30px 10px 0 40px;
    font-size: 2.3rem;
    color: #fff;
}

/*responsive*/
@media (max-width: 1200px) {
    .headerContainer {
        width: 70vw;
    }
}