.container {
    position: absolute;
    top: 20vh;
    right: 36.5vw;
    margin: 10px auto;
    padding: 8px 10px;
    background-color: #fff;
    width: 32vw;
    height: 500px; /* 高さを少し大きく */
    border: 1px solid #FF69A3;
    border-radius: 30px;
}

.font {
    color: #FF92AD;
    text-align: center;
    font-weight: bold;
    margin-top: 40px;
    padding-bottom: 15px;
    padding-top: 20px;
}
.field {
    position: relative;
    left: 2.5vw;
    margin-top: 10px;
    margin-bottom: 20px;
    /*font-weight:bold;*/
}
.cancel {
    position: absolute;
    top: 35vh;
    left: 8.5vw;
    display: block;
    height: 60px;
    width: 270px;
    border-radius: 10px;
    border-color: #EE6E18;
    background-color: #FFF;
    color: red;
}
.cancel:hover {
    transform: scale(1.1,1.1);
    background-color: black;
}
.p {
    text-align: center;
}
.font2 {
    font-weight: bold;
}

.send {
    position: absolute;
    top: 43vh;
    left: 8.5vw;
    display: block;
    height: 60px;
    width: 270px;
    border-radius: 10px;
    border-color: #EE6E18;
    background-color: #FFF;
    color: #FF69A3;
}
.send:hover {
    transform: scale(1.1,1.1);

}


.cancel {
    position: absolute;
    top: 35vh;
    left: 8.5vw;
    display: block;
    height: 60px;
    width: 270px;
    border-radius: 10px;
    border-color: #EE6E18;
    background-color: #FFF;
    color: red;
}
.cancel:hover {
    transform: scale(1.1,1.1);
    background-color: black;
}
.close {
    position: absolute;
    top: 0px;
    right: 35px;
    padding: 10px;
    font-size: 35px;
    font-weight: bold;
    color: #ff839f;
}
.close:hover {
    transform: scale(1.1, 1.1);
}