/*.allContainer {*/
/*    position: relative;*/
/*    left: 30vw;*/
/*}*/

/*.all {*/
/*    background-color: #FF92AD;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    width: 40vw;*/
/*    height: 9vh;*/
/*}*/

/*.tabList {*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*    margin-bottom: 20px;*/
/*}*/

/*.tab {*/
/*    list-style: none;*/
/*    padding: 1rem;*/
/*    cursor: pointer;*/
/*    color: #FF92AD;*/
/*    font-weight: bold;*/
/*    transition: color 0.3s ease;*/
/*    border-bottom: 2px solid transparent;*/
/*}*/

/*.tabSelected {*/
/*    color: #000;*/
/*    border-bottom: 2px solid #FF92AD;*/
/*}*/
.allContainer{
    position: absolute;
    left: 30vw;
}

.all{
    position: relative;
    /*top: 4vh;*/
    /*left: 30vw;*/
    background-color: #FF92AD;
    display: flex;
    width: 40vw;
    height: 9vh;
    margin: 0;
    /*border: #000fff 1px solid;*/
}

.ul{
    display: flex;
}

.tabs{
    list-style: none;
    padding: 0;
    margin: 0;

    margin-right: -80px; /* 前のliと重なる量 */
}

.tabFirst{
    outline: none;
    background: #fff;
    margin-top: 25px;
    padding-left: 0.5rem;
    width: 22vw;
    height: 65%;
    border: 1px solid #fff;
    border-bottom: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

    /*順番*/
    z-index: 3;

    /*font*/
    padding-top: 12px;
    text-align: center;
    color: #FF92AD;

}

.tabSecond{
    outline: none;
    background: #FFDCDD;
    margin-top: 25px;
    width: 22vw;
    height: 65%;
    border: #fff 1px solid;
    border-bottom: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

    /*順番*/
    z-index: 2;

    /*font*/
    padding-top: 12px;
    text-align: center;
    color: #FF989A;

}
.tabFirst:hover , .tabSecond:hover {
    color: #000;
}

.tabFirst, .tabSecond {
    position: relative;
}

.zIndex1 {
    z-index: 1;
    border-bottom: #F8F0F0 2px solid;
}

.zIndex2 {
    z-index: 2;
}

/*responsive*/
@media (max-width: 1200px) {
    .all{
        width: 70vw;
    }

    .tabFirst{
        width: 240px;
    }

    .tabSecond{
        width: 240px;
    }
}
.userCard {
    display: flex;
    width: 650px;
    align-items: center;
    background-color: #FFDCDD;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.userIcon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1rem;
}

.userInfo {
    display: flex;
    flex-direction: column;
}

.userName {
    font-weight: bold;
    color: #333;
}

.userId {
    color: #666;
}

.bio {
    color: #777;
    font-size: 0.9rem;
    margin-top: 0.5rem;
}
.row {
    position: absolute;
    top: 10vh;
    right: 25vw;
    padding: 15px 30px 30px 10px;
}
.info {
    position: absolute;
    top: 10vh;
    right: 2.5vw;

}
.unfollowing {
    position: absolute;
    right: 2.5vw;
    margin-top: 12px;
    display: block;
    height: 50px;
    width: 200px;
    border-radius: 8px;
    border: 1px solid #ff92AD;
    background-color: white;
    font-size: 1.3rem;
    color: #ff92AD;
    font-weight: bold;
}
.unfollowing:hover {
    transform: scale(1.1, 1.1);

}