.spTitle{
    border-bottom: 2px solid #FFCC92;
    width: 600px;
    padding: 0 130px;
    color: #3a3d42;
    margin: 0 auto 10px;
    font-size: 2.5rem;
}

.colors{
    display: flex;
    margin: 10px auto;
    /*border: 1px solid red;*/
    width: 775px;
}

.spColor1, .spColor2, .spColor3, .spColor4, .spColor5, .spColor6, .spColor7, .spColor8, .spColor9, .spColor10, .spColor11{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin: 5px;
    line-height: 60px;
    text-align: center;
    color: #fff;
}

.spColor1 { background-color: #f4e158; }
.spColor2{ background-color: #e5ad26; }
.spColor3{ background-color: #a5c860; }
.spColor4{ background-color: #309e39; }
.spColor5{ background-color: #9dd1d7; }
.spColor6{ background-color: #0a679d; }
.spColor7{ background-color: #e1c589; }
.spColor8{ background-color: #904d23; }
.spColor9{ background-color: #f4cdc2; }
.spColor10{ background-color: #dd5e6b; }
.spColor11{ background-color: #8a4788; }

.colorsContainer, .spCharacterContainer, .spArtistContainer{
    /*border: 1px solid deeppink;*/
    margin: 10px 10px 20px;
    padding: 10px;
}

@media screen and (max-width: 390px){
    .spTitle{
        width: 300px;
        padding: 30px 30px 0;
        font-size: 1.8rem;
    }

    .colors{
        width: 250px;
        flex-wrap: wrap;
        justify-content: center;
    }

}
