.all{
    border: 1px solid #FF92AD;
    border-radius: 10px;

    width: 450px;
    height: 300px;

    margin-top: 32vh;
    margin-left: 20vw;
    padding: 10px;
}

.grid{
    display: grid;
}

.signIn{
    color: #FF92AD;

    width: 100%;
    max-width: 200px;

    margin-left: 130px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.input{
    border: 1px solid #FF92AD;
    outline: none;

    width: 300px;
    height: 40px;

    margin: 0 65px 10px;
    padding: 6px 20px 5px;

    font-size: 1.1rem;
    color: #423a3a;
}

.submit{
    border: 1px solid #FF92AD;
    border-radius: 5px;
    outline: none;

    background-color: #FF92AD;

    width: 300px;
    height: 45px;

    margin: 20px 65px 10px;
    padding: 6px 20px 5px;

    color: #fff;
    font-size: 1.1rem;
}

.submit:hover{
    background-color: #ff839f;
}

.submit:active{
    background-color: #fff;
    border: 2px solid #ff839f;
    color: #ff839f;
}