@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');

.allContainer{
    display: flex;
}

.logo{
    height: 100%;
    margin-top: 40vh;
    margin-left: 18vw;
    color: #FF92AD;
    font-size: 7rem;
    font-weight: 400;
}

.MainContainer {
    border: 3px solid #FF92AD;
    border-radius: 10px;

    width: 420px;
    height: 500px;

    margin-top: 27vh;
    margin-left: 12vw;
    padding: 10px;
}

.grid{
    display: grid;
}

.title{
    color: #4A4444;
    font-size: 1.9rem;
    width: 100%;
    max-width: 200px;
    margin: 30px 125px 30px;
}

.input{
    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;

    border: 1px solid #FF92AD;
    outline: none;

    width: 300px;
    height: 40px;

    margin: 0 50px 10px;
    padding: 5px 10px 5px;

    font-size: 1rem;
    color: #423a3a;
}

.forgotPwd{
    outline: none;
    border: none;
    width: 200px;
    background-color: #fff;
    font-size: 0.8rem;
    color: #ff839f;
    margin: 0 35px 10px;
}

.forgotPwd:hover{
    color: #ff95af;
}

.submit{
    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;

    border: 1px solid #FF92AD;
    border-radius: 5px;
    outline: none;

    background-color: #FF92AD;

    width: 300px;
    height: 45px;

    margin: 20px 50px 10px;
    padding: 6px 20px 5px;

    color: #fff;
    font-size: 1.2rem;
}

.submit:hover{
    background-color: #ff839f;
    font-weight: 500;
}

.submit:active{
    background-color: #fff;
    border: 2px solid #ff839f;
    color: #ff839f;
}

.or {
    color: #4A4444;
    font-size: 0.8rem;

    margin: 10px 180px 10px;
    display: inline-block;
    position: relative;
    width: 44px;
    /*border: 1px solid red;*/
}

.or::before,
.or::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 120px; /* 線の長さを調整 */
    height: 2px; /* 線の太さ */
    background-color: #ff87a3;
}

.or::before {
    left: -128px; /* 「または」の前の線 */
}

.or::after {
    right: -126px; /* 「または」の後の線 */
}

.google{
    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;

    border: 1px solid #FF92AD;
    border-radius: 5px;
    outline: none;

    background-color: #FFF;

    width: 300px;
    height: 45px;

    margin: 10px 50px 10px;
    padding: 6px 20px 5px;

    color: #ff839f;
    font-size: 1.2rem;
}

.google:hover{
    border: 2px solid #FF92AD;
    font-weight: 500;
    padding: 4px 0 4px;
    margin: 9px 49px 9px;
    width: 302px;
    height: 47px;
}

.signUpContainer{
    display: flex;
    margin: 10px 10px 50px 55px;
}

.signUpText{
    color: #4A4444;
    font-size: 0.8rem;
    margin-top: 3px;
}

.signUp{
    border: none;
    background-color: #fff;
    /*margin-left: 10px;*/
    font-size: 0.9rem;
    color: #ff839f;
}

.signUp:hover{
    color: #ff95af;
}

@media screen and (max-width: 390px) {
    .allContainer{
        display: grid;
        height: 100vh;
        /*border: 1px solid red;*/
    }

    .logo{
        font-size: 2rem;
        margin: 10vh auto 0;
        width: 150px;
        height: 50px;
    }

    .MainContainer{
        width: 300px;
        height: 350px;
        margin-top: 0;
    }

    .title{
        /*border: 1px solid red;*/
        width: 125px;
        font-size: 1.5rem;
        margin: 10px auto;
    }

    .input{
        width: 200px;
        height: 35px;

        font-size: 0.8rem;
        margin: 0 40px 10px;
        padding: 5px 10px 5px;
    }

    .forgotPwd{
        font-size: 0.7rem;
    }

    .submit{
        width: 200px;
        height: 40px;
        margin: 15px 40px 10px;
        padding: 6px 20px 5px;
    }

    .or{
        display: none;
    }

    .google{
        display: none;
    }

    .signUpContainer{
        margin: 10px 10px 50px 40px;
        width: 200px;
    }

    .signUpText{
        font-size: 0.7rem;
    }

    .signUp{
        font-size: 0.8rem;
    }
}