@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');

.allContainer {
    position: absolute;
    left: 30vw;
}

.content {
    position: absolute;
    top: 19vh;
    left: 8vw;
    margin: 0 auto;
    border-radius: 4px;
    border: 1px solid #FF69A3;
    background-color: #FFF;

    height: 500px;
    width: 450px;
}

.font {
    position: relative;
    top: 3.5vh;
    text-align: center;
    color: #FF69A3;
}
.font2 {
    position: absolute;
    top: 7vh;
    left: 1.5vw;
    padding: 15px 45px 20px 15px;
    color: #6E665C;
}

.button {
    position: absolute;
    top: 53vh;
    left: 45vw;
    outline: none;
    background-color: #FF92AD;
    height: 50px;
    width: 200px;
    border: 1px solid #EE6E18;
    align-items: center;
    color: white;
    font-size: 1.3rem;
    border-radius: 8px;
}
.button:hover {
    transform: scale(1.1, 1.1);
}
.deleteButton{
        position: absolute;
        top: 0.8vh;
        left: 4vw;
        color: white;
        font-weight: bold;
        font-size: 1.3rem;
        text-align: center;
        text-decoration: none;
}
