@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');

.allContainer {
    position: absolute;
    left: 30vw;
}

.headerContainer {
    display: flex;
    width: 40vw;
    height: 80px;
    background-color: #FF92AD;
}

.backButton{
    border: none;
    outline: none;
    background-color: #FF92AD;
    height: 50px;
    padding: 0 10px;
    margin: 15px 0 15px 20px;

    color: #fff;
    font-size: 1.8rem;
    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;

    cursor: pointer;
}

.title{
    width: 400px;
    margin: 15px 20px;

    color: #fff;
}

.explanationContainer{
    border: 1px solid #ec6102;
}

.box {
    position: relative;
    top: 5vh;
    left: 28vw;
    background-color: #FFF;
    height: 50px;
    width: 200px;
    border: 1px solid #FF92AD;
    align-items: center;
}
.box:hover {
    background-color: #000;

}
.deleteButton{
        position: absolute;
        top: 1vh;
        left: 3.8vw;
        color: red;
        font-weight: bold;
        font-size: 1.2rem;
        text-align: center;
        text-decoration: none;
}
